*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(29, 4, 3, 1); 
    font-weight: lighter;
}
:root{
    --padding:0;
    --margin:0;
    --width:0;
}
body{
    width: 100%;
    height: auto;
    background-color: #FFF6EF;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(29, 4, 3, 1);   

}

.touter{
    align-items: center;
    background-color: #eff1f2;
    border-bottom: 3px solid #a0138e;
    box-sizing: border-box;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 100000;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(29, 4, 3, 1); 
    
    
}

.touter:hover {
    background: #fff;
    cursor:pointer;
    
}
.wltot{
    align-items: center;
    display: flex;
    
}
.wlcot{
    display: flex;
    align-items: center;
}
.wltxot{
    display: flex;
    align-items: center;
    white-space:nowrap;
    /*flex-shrink: 0;*/
    
}
.wltxot a{
    display: flex;
    text-decoration: none;
    flex-shrink: 0;
    align-items: center;
    font-size: 14px;    
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(29, 4, 3, 1);   
}
.wlstot button{
    align-items: center;
    border: 1px solid #a0138e;
    border-radius: 17px;
    color: #a0138e;
    display: inline-flex;
    flex-shrink: 0;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 35px;
    justify-content: center;
    text-align: center;
    width: 112px;
    margin-left: 6px;

}
 .touter:hover .wlstot button{
    color: #eff1f2;
    background-color: #a0138e;
}
.tmbl{
    height: 42px;
    width: 100%;
    border: 8px solid rgba(29, 4, 3, 1);
    
    
}
.maintxt{    
    font-family: Arial,Helvetica,sans-serif;
    vertical-align: baseline;
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 0;
    align-items: start;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content min-content max-content;
    justify-content: stretch;
}
.sec01menu{
    position: relative;
    margin: 0px 0px 0px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 100px - 100px);
    }
.sec01mol{
    vertical-align: baseline;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.menuulcl{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.menuulcl1{
    height: 100%;
}
.mnuligrd{
    column-gap: 0;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    position: relative;
    width: calc(100% - (0px)*2 );
}

.mnuligrd1{
    overflow: visible;
    flex: 294px ;
    left: 0;
    margin-bottom: 0;
    margin-top: 0;
    min-width: 0;
    position: relative;
    top: 0;
    width: 100%;
}
.mnuligrd2{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.mnuligrd3{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.mnuligrd4{
    height: 100%;
}

.mnugdlgo{
    position: relative;
    height: auto;
    width: 100%;
}
.mtl01g{
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 100%;
}
.mtl01gt{
    overflow-wrap: break-word;
    pointer-events: none;
    text-align: start;
    position: relative;
    margin: 39px 0px 1px calc((100% - 294px) * 0);
    left: 62px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    width: 216px;
    height: auto;
}
.mtl01gt p{
    overflow-wrap: break-word;
    text-align: start;
    font-weight: bold;
    color: rgb(29,14,3);
    letter-spacing: 0em;
    margin-block: 0;
    margin: 0;
    font-size: 22px;
}
.mtl01gt a{
    overflow-wrap: break-word;
    text-align: start;
    letter-spacing: 0em;
    font-size: 22px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.mt01ph01{
    overflow-wrap: break-word;
    pointer-events: none;
    text-align: start;
    position: relative;
    margin: 0px 0px 33px calc((100% - 294px) * 0);
    left: 62px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
    width: 232px;
    height: auto;
}
.mt01ph01 p{    
    overflow-wrap: break-word;
    text-align: start;
    color: rgb(29,14,3);
    letter-spacing: 0em;
    margin-block: 0;
    margin: 0;
    font-size: 14px;
}
.mtlimitm{
    overflow: visible;
    flex: (686px) 1 0%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}
.mtlimitm{
    overflow: visible;
    flex: var(686) 1 0%;
    left: 0;
    min-width: 0;
    position: relative;
    top: 0;
    width: 100%;
}
.mtlimitm1{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.mtlimitm2{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.mtlimitm3{
    height: 100%;
}
.lidtlwl{
    pointer-events: none;
    position: relative;
    height: auto;
    width: 100%;
}
.lidtlwlgd{   
    font-family: Arial,Helvetica,sans-serif;
    vertical-align: baseline;
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}
.ddmenu{
    direction: ltr;
    unicode-bidi: isolate;
    pointer-events: auto;
    position: relative;
    margin: 39px 0px 32px calc((100% - 686px) * 1);
    left: 1px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    width: 447px;
    height: 50px;
    visibility: inherit;
    overflow-x: visible;
}
.ddnbar{
    visibility: inherit;
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.ddnbrul{
    visibility: inherit;
    background: transparent;
    vertical-align: baseline;
    list-style: none;
    position: absolute;
    height: calc(100% - (0px, 0px));
    overflow: visible;
    white-space: nowrap;
    width: calc(100% - (0px, 0px));
    text-align: right;
}
.lili01{
    list-style: none;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    display: inline-block;
    width: 73px;
    height: 50px;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    visibility: inherit;
}
.lili01 a{
    list-style: none;
    white-space: nowrap;
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.lidtl1{
    list-style: none;
    white-space: nowrap;
    display: inline-block;
    visibility: inherit;
    cursor: pointer;
    background: transparent;
    vertical-align: baseline;
    padding: 0 var(5px,5px);
}
.ldtl2{
    text-align: center;
}
.ldtl2 p{
    list-style: none;
    white-space: nowrap;
    --display: inline-block;
    visibility: inherit;
    cursor: pointer;
    background: transparent;
    vertical-align: baseline;
    color: rgb(29,14,3);
    display: inline-block;
    padding: 0 10px;
    transition: color .4s ease 0s;
    text-align: center;
    line-height: 50px;
}


.lili02{
    list-style: none;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    display: inline-block;
    width: 73px;
    height: 50px;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    visibility: inherit;
}
.lili02 a{
    list-style: none;
    white-space: nowrap;
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.lidtl11{
    list-style: none;
    white-space: nowrap;
    display: inline-block;
    visibility: inherit;
    cursor: pointer;
    background: transparent;
    vertical-align: baseline;
    padding: 0 var(5px,5px);
}
.ldtl21{
    text-align: center;
}
.ldtl21 p{
    list-style: none;
    white-space: nowrap;
    display: inline-block;
    visibility: inherit;
    cursor: pointer;
    background: transparent;
    vertical-align: baseline;
    color: rgb(29,14,3);
    display: inline-block;
    padding: 0 10px;
    transition: color .4s ease 0s;
    text-align: center;
    line-height: 50px;
}



.lili03{
    list-style: none;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    display: inline-block;
    width: 73px;
    height: 50px;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    visibility: inherit;
}
.lili03 a{
    list-style: none;
    white-space: nowrap;
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.lidtl12{
    list-style: none;
    white-space: nowrap;
    display: inline-block;
    visibility: inherit;
    cursor: pointer;
    background: transparent;
    vertical-align: baseline;
    padding: 0 var(5px,5px);
}
.ldtl22{
    text-align: center;
}
.ldtl22 p{
    list-style: none;
    white-space: nowrap;
    display: inline-block;
    visibility: inherit;
    cursor: pointer;
    background: transparent;
    vertical-align: baseline;
    color: rgb(29,14,3);
    display: inline-block;
    padding: 0 10px;
    transition: color .4s ease 0s;
    text-align: center;
    line-height: 50px;
}


.lili04{
    list-style: none;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    display: inline-block;
    width: 73px;
    height: 50px;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    visibility: inherit;
}
.lili04 a{
    list-style: none;
    white-space: nowrap;
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.lidtl13{
    list-style: none;
    white-space: nowrap;
    display: inline-block;
    visibility: inherit;
    cursor: pointer;
    background: transparent;
    vertical-align: baseline;
    padding: 0 var(5px,5px);
}
.ldtl23{
    text-align: center;
}
.ldtl23 p{
    list-style: none;
    white-space: nowrap;
    display: inline-block;
    visibility: inherit;
    cursor: pointer;
    background: transparent;
    vertical-align: baseline;
    color: rgb(29,14,3);
    display: inline-block;
    padding: 0 10px;
    transition: color .4s ease 0s;
    text-align: center;
    line-height: 50px;
}
.hmebtn{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    vertical-align: baseline;
    pointer-events: auto;
    position: relative;
    margin: 44px 0px 37px calc((100% - 686px) * 1);
    left: 574px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    width: 112px;
    height: 40px;
    text-align: center;
}
.hmebtn a{
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-width: 100%;
    text-align: initial;
    width: max-content;
    border-radius: 4px;
    bottom: 0;
    box-shadow: none,0 1px 4px rgba(0,0,0,.6);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
    transition: 0.4s ease 0s;
    background-color: rgba(31,156,110,1);

    border: 0.5px solid rgb(29,14,3);
    cursor: pointer;
}   
.hmebtn :hover  span{
    color: rgba(31,156,110,1);
}

.hmebtn :hover {
    background-color: rgb(29,14,3);
}
a.active p ,a:hover p{
    color:rgba(31, 156, 110 ,0.8);
    transition: 0.5s ease;
}



.mpagettl{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 0;
    grid-area: 3/1/4/2;
    align-self: stretch;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
}
.mpttlol{
    vertical-align: baseline;
    overflow-x: clip;
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 0;
    height: 100%;
    position: relative;
}
.mpttlolg{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}
.mptoc{
    align-self: stretch!important;
    justify-self: stretch!important;
    grid-area: 1/1/1/1;
    height: 100%;
    position: relative;
    left: 0;
    margin-left: 0;
    min-width: 0;
    width: auto;
    min-height: 40px;
}
.mptoc1{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin-left: calc((100% - 980px) / 2);
    width: 980px;
}
.mpwsol{
    height: auto;
    position: relative;
    width: 100%;
}
.mpwsol1{
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 40px;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-columns: 100%;
    padding-bottom: 0px;
    box-sizing: border-box;
}
.mpsect1{
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    pointer-events: auto;
    overflow: visible;
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
}
.sec1ol1{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.sec1olf{
    
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.sec1ols{
    height: 100%;
}
.sec1ge{
    height: auto;
    width: 100%;
}
.sec1ge1{
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}
.frgds1{
    position: relative;
    margin: 40px 0px 40px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 80px - 80px);
    min-width: 980px;
    flex-direction: row;
}
.s1s1ol{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.s1s1ol1{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.s1s1ol2{
    column-gap: 0px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    position: relative;
    width: calc(100% - ( 0px )*2);
}
.s1ol3{
    overflow: visible;
    flex: 980px 1 0%;
    left: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    min-width: 0;
    position: relative;
    top: 0;
    background-color: rgba(31,156,110,0.8);

    width: 100%;
}
.s1ol4{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.s1ol4f{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.s1ol3f{
    overflow: visible;
    flex: (980px) 1 0%;
    left: 0;
    margin-bottom: 0;
    margin-top: 0;
    min-width: 0;
    position: relative;
    top: 0; 
    width: 100%;
    
}
.s1ol3f1{
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 100%;
}
.s1olfg{
    /*direction: var(--text-direction);
    min-height: var(--min-height);*/
    min-width: 980px;
    overflow-wrap: break-word;
    pointer-events: none;
    text-align: start;
    position: relative;
    margin: 80px 0px 40px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    width: 980px;
    height: auto;
}
.s1olfg h1{
    
    color: rgb(29, 14, 3);
    font-size: 56px;
    line-height: normal;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.s1olpg{
    display: flex;
    overflow-wrap: break-word;
    pointer-events: none;
    text-align: start;
    position: relative;
    margin: 0px 0px 65px calc((100% - 980px) * 0.5);
    left: 181px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
    width: 619px;
    height: auto;
}
.s1olph p{
    display: flex;
    overflow-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(29, 14, 3);
    letter-spacing: 0em;
    margin-block: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.8em;
    text-align: center;
}

@media all and (max-width:980px){
    .mptoc1{
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        margin-left: calc((100% - 980px) / 2);
        width: 980px;
    }


    
}

.sec2ol1{
    overflow: visible;
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
    left: 0;
    margin-left: 0;
    width: 100%;
    --bg-overlay-color: transparent;
    --bg-gradient: none;
    min-width: 980px;
}
    
.s2totc1{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.s2totc11{
    background-color: transparent;
    background-image: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.s2totc12{
    height: 100%;
}
.s2ol2bc{
    position: relative;
    height: auto;
    width: 100%;
}
.s2g1ol1{
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}
.s2s2olf{
    position: relative;
    margin: 0px 0px 0px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 80px - 80px);
    min-width: 980px;
    flex-direction: row;
}
.s2s2cul{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.s2s2clm{
    column-gap: 0;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    position: relative;
    width: calc(100% -( 0px) *2 );
}
.s2s2clmbc{
    overflow: visible;
    flex: 980 1 0%;
    left: 0;
    margin-bottom: 0;
    margin-top: 0;
    min-width: 0;
    position: relative;
    top: 0;
    background-color: rgb(255,246,213);

    width: 100%;

}
.s2s2bc1{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.s2s2bc12{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.s2s2bc13{
 height: 100%;   
}
.s2bcs2{
    position: relative;
    height: auto;
    width: 100%;
}
.s2bcsg1{
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-columns: 100%;
}
.s2bcsgh{
    overflow-wrap: break-word;
    pointer-events: none;
    text-align: start;
    position: relative;
    margin: 80px 0px 30px calc((100% - 980px) * 0.5);
    left: -1px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    width: 980px;
    height: auto;
}
.s2bcsgh h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(29,14,3);
    letter-spacing: 0em;
    margin-block: 0;
    margin: 0;
    font-weight: normal;
    font-size: 38px;
    line-height: normal;
    text-align: center;
}
.s2bcsgh span{
    font-size: 38px;
}

.s2bcsgph{
    width: 980px;
    direction: ltr;
    justify-content: flex-start;
    margin: -15px -15px;
    --item-margin: 15px 15px;
}
.s2bcphli{
    direction: ltr;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -15px -15px;
    position: relative;
}
.s2phli1{
    display: flex;
    flex-direction: column;
}
.s2phli1p{
    direction: ltr;
    margin: 15px 15px;
}
.s2phlipo{
    direction: ltr;
    background: transparent;
    position: relative;
    width: 306px;
    border-width: 0 0 0 0;
    border-style: solid solid solid solid;
    border-color: rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) rgba(0, 0, 0, 1);
    border-radius: 0 0 0 0;
    overflow: hidden;
    transform: translateZ(0);
    margin: -0px;
}
.s2phlipc{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.s2foli{
    position: relative;
    height: auto;
    width: 100%;
}
.s2folig{
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 100%;
}
.s2ghd{
    overflow-wrap: break-word;
    pointer-events: none;
    text-align: start;
    width: 219px;
    height: auto;
    position: relative;
    margin: 20px 0px 20px 0;
    left: 43px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}
.s2ghd h3{
    font-size: 20px;
    text-align: center;
}
.s2gph{
    overflow-wrap: break-word;
    pointer-events: none;
    text-align: start;
    width: 219px;
    height: auto;
    position: relative;
    margin: 0px 0px 0px 0;
    left: 43px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
}
.s2gph>p{
    overflow-wrap: break-word;
    letter-spacing: 0em;
    margin-block: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.8em;
    text-align: center;
}



.s2phli13{
    display: flex;
    flex-direction: column;
}
.s2phli1p3{
    direction: ltr;
    margin: 15px 15px;
}
.s2phlipo3{
    direction: ltr;
    background: transparent;
    position: relative;
    width: 306px;
    border-width: 0 0 0 0;
    border-style: solid solid solid solid;
    border-color: rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) rgba(0, 0, 0, 1);
    border-radius: 0 0 0 0;
    overflow: hidden;
    transform: translateZ(0);
    margin: -0px;
}
.s2phlipc3{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.s2foli3{
    position: relative;
    height: auto;
    width: 100%;
}
.s2folig3{
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 100%;
}
.s2ghd3{
    overflow-wrap: break-word;
    pointer-events: none;
    text-align: start;
    width: 219px;
    height: auto;
    position: relative;
    margin: 20px 0px 20px 0;
    left: 43px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}
.s2ghd3 h3{
    font-size: 20px;
    text-align: center;
}
.s2gph3{
    overflow-wrap: break-word;
    pointer-events: none;
    text-align: start;
    width: 219px;
    height: auto;
    position: relative;
    margin: 0px 0px 0px 0;
    left: 43px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
}
.s2gph3>p{
    overflow-wrap: break-word;
    letter-spacing: 0em;
    margin-block: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.8em;
    text-align: center;
}


.s2phli14{
    display: flex;
    flex-direction: column;
}
.s2phli1p4{
    direction: ltr;
    margin: 15px 15px;
}
.s2phlipo4{
    direction: ltr;
    background: transparent;
    position: relative;
    width: 306px;
    border-width: 0 0 0 0;
    border-style: solid solid solid solid;
    border-color: rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) rgba(0, 0, 0, 1);
    border-radius: 0 0 0 0;
    overflow: hidden;
    transform: translateZ(0);
    margin: -0px;
}
.s2phlipc4{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.s2foli4{
    position: relative;
    height: auto;
    width: 100%;
}
.s2folig4{
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 100%;
}
.s2ghd4{
    overflow-wrap: break-word;
    pointer-events: none;
    text-align: start;
    width: 219px;
    height: auto;
    position: relative;
    margin: 20px 0px 20px 0;
    left: 43px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}
.s2ghd4 h3{
    font-size: 20px;
    text-align: center;
}
.s2gph4{
    overflow-wrap: break-word;
    pointer-events: none;
    text-align: start;
    width: 219px;
    height: auto;
    position: relative;
    margin: 0px 0px 0px 0;
    left: 43px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
}
.s2gph4>p{
    overflow-wrap: break-word;
    letter-spacing: 0em;
    margin-block: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.8em;
    text-align: center;
}
.tmpln1{
    vertical-align: baseline;
    pointer-events: auto;
    border-top: 1px solid rgba(255,246,239,1);
    box-sizing: border-box;
    position: relative;
    margin: 38px 80px 38px 80px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: stretch;
    align-self: start;
    background: rgba(1,75,63,1);
    width: calc(100% - 80px - 80px);
    left: 0;
    margin-left: 80px;
    min-width: initial;
    height: 2px;
    transform-origin: center 0.5px;
}





.secff04{
    overflow: visible;
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
}

.s04olbc{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.s04olbc1{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.s04olff{
    position: relative;
    height: auto;
    width: 100%;
}

.s04olffg{
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}
.s04sec02f{
    pointer-events: auto;
    position: relative;
    margin: 0px 0px 40px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 80px - 80px);
    min-width: 980px;
    flex-direction: row;
}
.s04secin{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.s04sec2in1{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.s04clm01{
    column-gap: 0px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    position: relative;
    width: calc(100% - 0px)*2;
}
.s04cl02{
    overflow: visible;
    flex: (980px) 1 0%;
    left: 0;
    margin-bottom: 0;
    margin-top: 0;
    min-width: 0;
    position: relative;
    top: 0;
    width: 100%;
}
.s04cl03{
    
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.s04cl04{

    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.s04ssf{
    position: relative;
    height: auto;
    width: 100%;
}
.s04ssfg{
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 100%;
}
.s04sshp{
    overflow-wrap: break-word;
    text-align: start;
    position: relative;
    margin: 65px 0px 32px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    
    width: 980px;
    height: auto;
    background: transparent;
}
.s04sshp h2{
    color: rgb(29,13,4);
    background: transparent;

    letter-spacing: 0em;
    font-size: 38px;
    line-height: normal;
    text-align: center;
}
.s04sshp span{
    overflow-wrap: break-word;
    text-align: center;
    font-size: 38px;
}
.s04sphpg{
    background: transparent;
    overflow-wrap: break-word;
    text-align: start;
    position: relative;
    margin: 0px 0px 48px calc((100% - 980px) * 0.5);
    left: 141px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
    width: 697px;
    --min-height: 121px;
    height: auto;
}
.s04sphpg p{
    font-weight: normal;
    color: rgb(29,14,3);
    letter-spacing: 0em;
    margin-block: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.8em;
    text-align: center;
}
.s04sphpg span{
    direction: var(--text-direction);
    overflow-wrap: break-word;
    line-height: 1.8em;
    text-align: center;
    background: transparent;
    vertical-align: baseline;
    font-size: 16px;
}

.ftrpage{
    vertical-align: baseline;
    grid-area: 4/1/5/2;
    position: relative;
}
.ftrpge01{
    vertical-align: baseline;
}
.ftrpgg{
    
    vertical-align: baseline;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: calc(100% - 50px);
    left: 0;
    margin-top: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    pointer-events: none;
    z-index: calc(var(0, 0) + 53);

}
.ftrpageol{
    margin-left: 0;
    width: 100%;
    min-width: 0;
    position: relative;
}
.ftrpgeil{
    vertical-align: baseline;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.ftrpgeil1{
    background-color: rgba(255,246,239,1);
    border-bottom: 0 solid rgba(29,14,3,1);
    border-top: 0 solid rgba(29,14,3,1);
    bottom: 0;
    box-shadow: none,0 0 5px rgba(0,0,0,.7);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.fnlftrpalgn{
    position: relative;
    width: 100%;
    background-color: rgba(31,156,110,1);
}
.fnlpctr{
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin-left: calc((100% - 980px)/2);
    width: 980px;
    align-items: center;
}
.fnpctr01{
    background-color: rgba(31,156,110,1);
    border-radius: 0;
    bottom: 0;
    top: 0;
    left: 0;
    position: absolute;
    right: 0;
}
.ftrgrid{
    height: auto;
    position: relative;
    width: 100%;
}
.ftrinlc{
    position: relative;
    height: auto;
    width: 100%;
}
.ftrgrid01{
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;

    grid-template-rows: repeat(3, min-content) 1fr;
    grid-template-columns: 100%;
}
.ftrgridh1{
    overflow-wrap: break-word;
    text-align: start;
    position: relative;
    margin: 22px 0px 46px calc((100% - 980px) * 0.5);
    left: 190px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    width: 600px;
    height: auto;
}
.ftrgridh1 h1{
    overflow-wrap: break-word;
    text-align: center;
    font-size: 86px;
    color: rgb(29,14,3);
    letter-spacing: 0em;
    margin-block: 0;
    margin: 0;
    
}
.ftrgridh2 {
    overflow-wrap: break-word;
    text-align: start;
    position: relative;
    margin: 0px 0px 28px calc((100% - 980px) * 0.5);
    left: 245px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
    width: 490px;
    height: auto;
}
.ftrgridh2 h2{
    overflow-wrap: break-word;
    text-align: center;
    color: rgb(29,14,3);
    letter-spacing: 0em;
    margin-block: 0;
    margin: 0;
    font-size: 49px;
    line-height: 1.3em;
}
.ftrimgol{
    top: 50px,auto;
    z-index: 10000,auto;
    position: relative;
    margin: 0px 0px 31px calc((100% - 980px) * 0.5);
    left: 335px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
    width: 309px;
    height: 257px;
}
.imgftr{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}
.frpftrimg{
    min-height: 257px;
    min-width: 309px;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.frpftrimg img{
    aspect-ratio: auto 309 / 257;
    background: transparent;
    max-width: 100%;
    box-shadow: 0 0 0 #000;
    position: static;
    user-select: none;
    width: 309px;
    height: 257px;
    object-fit: cover;
    object-position: 50% 50%;
}
